language: python
dist: xenial
cache: false
env:
    global:
        - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
        - SEGFAULT_SIGNALS=all
matrix:
    include:
        -   python: '3.6'
            stage: test
            env:
                - TOXENV=check
        -   python: '3.6'
            stage: test
            env:
                - TOXENV=docs
        #    - env:
        #        - TOXENV=py35,codecov,coveralls
        #      python: '3.5'
        -   env:
                - TOXENV=py36,codecov,coveralls
            python: '3.6'
            stage: test
        -   env:
                - TOXENV=py37,codecov,coveralls
            python: '3.7'
            stage: test
        -   env:
                - TOXENV=py38,codecov,coveralls
            python: '3.8'
            stage: test
        -   script: skip
            stage: deploy
            deploy: &pypi
                provider: pypi
                skip_existing: true
                user: "__token__"
                password: $PYPI_TOKEN
                distributions: "sdist bdist_wheel"
                on:
                    tags: true
before_install:
    - python --version
    - uname -a
    - lsb_release -a || true
install:
    - python -mpip install --progress-bar=off tox -rci/requirements.txt
    - virtualenv --version
    - easy_install --version
    - pip --version
    - tox --version
script: tox -v
stages:
    - test
    - deploy
after_failure:
    - more .tox/log/* | cat
    - more .tox/*/log/* | cat
notifications:
    email:
        on_success: never
        on_failure: always
